{% extends 'base.html' %}
{% block title %}
Account List
{% endblock title %}
{% block content %}
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'create_account' %}">Create Account</a>
                    <a href="{% url 'category_list' %}">Category List</a>
                    <a href="{% url 'home' %}">Receipt List</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in account_list %}
                <tr>
                    <td>{{account.name}}</td>
                    <td>{{account.number}}</td>
                    <td>{{account.num_receipts}}</td>
                </tr>
                {% endfor %}
</main>
{% endblock content %}
