{% extends 'base.html' %}
{% block title %}
Category List
{% endblock title %}
{% block content %}
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'create_category' %}">Create Category</a>
                    <a href="{% url 'home' %}">Receipt List</a>
                    <a href="{% url 'account_list' %}">Account List</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                <tr>
            </thead>
            <tbody>
                {% for category in category_list %}
                <tr>
                    <td>{{category.name}}</td>
                    <td>{{category.num_receipts}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
