{% extends 'base.html' %}
{% block title %}
Create Receipt
{% endblock title %}
{% block content %}
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'home' %}">Receipt List</a>
                    <a href="{% url 'category_list' %}">Category List</a>
                    <a href="{% url 'account_list' %}">Account List</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    <div>
        <h1>Create Receipt</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}


{% comment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Receipt</title>
</head>
<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html> {% endcomment %}
