{% extends 'base.html' %}
{% block title %}
Create Category
{% endblock title %}
{% block content %}
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'home' %}">Receipt List</a>
                    <a href="{% url 'category_list' %}">Category List</a>
                    <a href="{% url 'account_list' %}">Account List</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    <div>
        <h1>Create Category</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
